@media screen and (max-width: 480px){
body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}
img {
    height:100px;
    border:5px solid white;
    border-radius:70px;
    position:absolute;
    top:20px;
    left:145px;
}
.links {
    height:70px;
    width:350px;
    border:5px solid white;
    color:white;
    text-decoration:none;
    border-radius: 20px;
    display:block;
    text-align: center;
    top:150px;
    left:25px;
    position:relative;
    margin-bottom:20px;
}
.links:hover {
    background-color: grey;
    border: 3px solid white;
    padding-bottom: 1px;
    padding-top: 1px;
}
p {
    position: relative;
    top:10px;
}
.plasma {
color: white;
position: absolute;
top:500px;
left:170px;
font-family: "Times New Roman", Times,serif;
}
.email {
    color: white;
    position:relative;
    top:20px;
    right:75px;
}
}
@media screen and (min-width:481px){
    body {
        background-color: black;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    img {
        height:150px;
        border:5px solid white;
        border-radius:100px;
        position:absolute;
        top:20px;
        
    }
    .links {
        height:70px;
        width:350px;
        border:5px solid white;
        color:white;
        text-decoration:none;
        border-radius: 20px;
        display:block;
        text-align: center;
        top:250px;
        position:relative;
        margin-left:20px;
    }
    .links:hover {
        background-color: grey;
        border: 3px solid white;
        padding-left: 1px;
        padding-right: 1px;
    }
    p {
        position: relative;
        top:10px;
    }
    .plasma {
    color: white;
    position: absolute;
    top:500px;
    font-family: "Times New Roman", Times,serif;
    }
    .email {
        color: white;
        position:relative;
        top:20px;
        right:60px;
    }
}